body{
  font-family: 'Avenir Next LT Pro';
  color: #000;
}
.navbar-header .navbar-brand{
  background-color: #123899;
  font-family: 'effra';
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  display: block;
  float: none;
}
.navbar-header .left-header{
  background-color: #123899;

}
.navbar-custom{
  background-color: #122c70;
}
.navbar-right .dropdown{
  background-color: transparent;
}
.dropdown.user-menu a.dropdown-toggle{
  width: auto;
  height: 100%;
  padding-left: 28px;
  font-weight: 900;
  padding-top: 13px;
}
.user-menu{
  border-left: 1px solid #123899;
  margin-top: 0;
  margin-bottom: 0;
  height: 60px;
  border-radius: 0;
}
.user-photo img,
.dropdown.user-menu .user-photo img{
  width: 100%;
  height: 100%;
}
.dropdown.user-menu .user-name{
  display: inline-block;
}
.dropdown.user-menu .user-photo{
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius:50%;
  margin-left: 5px;
}
.media .user-photo{
  width: 49px;
  height: 49px;
  border-radius:50%;
  display: inline-block;
}
.dropdown .label{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 7px 0 0;
  text-align: center;
}
.nav-breadcrumb{
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.nav-breadcrumb .breadcrumb{
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  padding-top: 19px;
  font-size: 14px;
}
.nav-breadcrumb .breadcrumb a{
  color: #fff;
}
.nav-breadcrumb .breadcrumb>.active{
  color: #b7b7b7;
}
.dropdown-messages img{
  width: 40px;
  height: 40px;
}
.profile-sidebar{
  text-align: center;
  padding: 40px 0 20px;
}
.profile-userpic{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
.profile-userpic img{
  width: 100%;
  height: 100%;
  float: none;
  margin: 0;
}
.profile-usertitle{
  float: none;
  text-align: center;
  margin: 5px;
}
.profile-usertitle-name{
  font-size: 16px;
  font-weight: bold;
}
.profile-usertitle-status{
  text-transform: lowercase;
  font-size: 12px;
}
.btn-hakakses{
  color: #2a9650;
  width: 136px;
  height: 29px;
  border-radius: 14.5px;
  background-color: rgba(42, 150, 80, 0.1);
  padding: 6px 0 0;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 6.5px 15px;
  display: inline-block;
}
.btn-hakakses:hover,
.btn-hakakses:focus{
  color: #2a9650;

}

.sidebar ul.nav .active >a,
.sidebar ul.nav .active > a:hover,
.sidebar ul.nav .active > a:focus,
.sidebar ul.nav li.parent.active >a,
.sidebar ul.nav li.parent.active >a:hover,
.sidebar ul.nav li.parent.active >a:focus,
.sidebar ul.nav li.parent >a.active,
.sidebar ul.nav li.parent >a.active:hover,
.sidebar ul.nav li.parent >a.active:focus{
  color: #4056f6;
  background-color: #ffffff;
  border-left: 4px solid #4056f6;
}
.sidebar ul.nav a:hover{
  color: #4056f6;
  background-color: #ffffff;
  border-left: 4px solid #4056f6;
}
.sidebar ul.nav li.parent ul li a{
  padding-top: 0;
  background-color: #fff;
  padding-left: 40px;
}
.sidebar ul.nav li.parent ul li a:hover,
.sidebar ul.nav li.parent ul li a:focus,
.sidebar ul.nav li.parent ul li a.active,
.sidebar ul.nav li.parent ul li a.active:hover,
.sidebar ul.nav li.parent ul li a.active:focus{
  color: #4056f6;
  background-color: #fff;
}
.sidebar ul.nav li.parent a,
.sidebar ul.nav li a{
  font-size: 14px;
  border-left: 4px solid #fff;
  padding-top: 14px;
}
.side-credit{
  margin: 20px 0 10px 20px;
}
.side-credit p{
  width: 116px;
  display: inline-block;
  border-top: 1px solid #ececec;
  padding: 15px 0;
  color: #000;
  font-size: 12px;
}
/* main content */
.main-container{
  margin: 40px 20px;
}
.main-rightbar{
  margin-top: 40px;
}
.main-container.mr-0{
  margin-right: 0;
}
.main-rightbar .panel-separated-heading{
  background-color: #db5959;
  font-size: 14px;
  height: 40px;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 60px;
  position: relative;
}
.main-rightbar .panel-separated-heading:after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #e7ebf4;
  bottom: -30px;
}

/* panel */
.panel-plain .panel-heading{
  line-height: 20px;
  padding: 25px;
  /* margin-bottom: 30px; */
  height: auto;
}
.panel-plain .panel-body{
  /* padding: 20px; */
}
.panel-plain .panel-heading h1{
  margin: 0;
  font-size: 24px;
  letter-spacing: normal;
}
.panel-plain .panel-heading p{
  color: #878787;
  font-size: 14px;
  margin: 0;
}
/* input */

input.form-control {
  border: 1px solid #c5c5c5;
  /* box-shadow: none; */
  height: 40px;
}
.form-control{
  height: 40px;
  color: #878787;
}
.input-55 .form-control{
  height: 55px;
}
.input-55 textarea,
.input-55 textarea.form-control{
  height: 159px;
}
textarea,
textarea.form-control{
  height: auto;
  box-shadow: none;
}
.input-group input.form-control{
  border-right: 0;
}
.input-group-btn .btn,
.input-group-addon{
  color: #878787;
  height: 40px;
  background-color: #fff;
  border-left: none;
  border-top-color: #c5c5c5;
  border-right-color: #c5c5c5;
  border-bottom-color: #c5c5c5;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
select.form-control{
  box-shadow: none;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  background-image: url("../images/arrow-down-black.png");
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: 10px;
}
label{
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 12px;
}
.input-file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-55 label.input-label {
  height: 55px;
  padding-top: 20px;
}
label.input-label {
  color: #878787;
  background-color: #fff;
  cursor: pointer; /* "hand" cursor */
  display: block;
  height: 40px;
  text-transform: none;
  padding: 12px 15px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  /* text-align: right; */
  position: relative;
  margin: 0;
}
.input-55 label.input-label >span.tombol{
  right: 8px;
  top: 8px;
}
label.input-label >span.tombol{
  color: #d75a56;
  padding: 7px 8px;
  border: 1px solid #d75a56;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: 1px;
  right: 1px;
}

.input-file:focus + label.input-label,
.input-file + label.input-label:hover {
  background-color: #fff;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label.input-label * {
  pointer-events: none;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
input[type="checkbox"] + label:before {
  content: '';
  /* margin-right: 10px; */
  display: inline-block;
  /* vertical-align: middle; */
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #c5c5c5;
  border-radius: 4.8px;
}
input[type="checkbox"]:hover + label:before {
  background: #8dc74a;
}
input[type="checkbox"]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
input[type="checkbox"]:checked + label:before {
  background: #8dc74a;
}
input[type="checkbox"]:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
input[type="checkbox"]:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
input[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/* msc */
.plain-group .input-group-btn,
.plain-group .input-group-btn .btn,
.plain-group .input-group-btn .btn:hover,
.plain-group .input-group-btn .btn:focus,
.plain-group .input-group-addon{
  color: #4a4a4a;
}
.text-red{
  color: #db5959;
}
.text-blue{
  color: #456ecb;
}
.text-status{
  font-size: 12px;
  text-transform: uppercase;
}
.dot-status{
  width: 14px;
  height: 14px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: -1px;
}
.dot-red{
  background-color: #db5959;
}
.dot-blue{
  background-color: #456ecb;
}
.dot-green{
  background-color: #2a9650;
}
.dropdown.td-menu{
  margin: 0;
  float: right;
}
.dropdown.td-menu a.dropdown-toggle{
  color: #c5c5c5;
  padding: 0 0 0 10px;
  font-size: 18px;
}
.td-menu{
  text-transform: none;
}
.table>tbody>tr>td.td-right{
  text-align: right;
}
.td-menu .dropdown-menu li a:hover{
  color: #456ecb;
}
.td-meta{
  margin: 20px 10px 5px 0;
  color: #878787;
  font-size: 12px;
}
.td-meta .fa-circle{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 6px;
  color: #4a4a4a;
  position: relative;
  width: 10px;
  height: 10px;
}
.td-meta .fa-circle:before{
  position: absolute;
  left: 3px;
  top: 3px;
}
.td-meta .btn{
  margin-left: 10px;
}
.table > thead th > .fa{
  font-size: 20px;
}
.table.mid-v>tbody>tr>td{
  vertical-align: middle;
}
.table.no-head>tbody>tr:first-child>td{
  border-top: none;
}
.dataTables_wrapper table.no-head thead{
    display:none;
}
.materi-ikon{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 8px 2px;
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: 5px;
}
.materi-red{
  background-color: rgba(219, 89, 89, 0.1);
  color: #db5959;
}
.materi-blue{
  background-color: #e7ebf4;
  color: #456ecb;
}
.materi-green{
  background-color: rgba(42, 150, 80, 0.1);
  color: #2a9650;
}
.materi-black{
  background-color: rgba(74, 74, 74, 0.1);
  color: #4a4a4a;
}
.saklar{
  height: 30px;
  width: 60px;
  /* position: relative; */
  margin-top: -5px;
}
.saklar-switch{
  display: none;
}
.saklar-switch +label:before{
  content: ' ';
  display: block;
  height: 30px;
  width: 60px;
  border: 1px solid #e7ebf4;
  border-radius: 14.5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #e7ebf4;
  transition: all 0.3s ease-in;
}
.saklar-switch +label:after{
  content: ' ';
  display: block;
  height: 22px;
  width: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #fff;
  transition: all 0.3s ease-in;
}
.saklar-switch + label{
  position: relative;
  height: 30px;
  width: 60px;
  margin: 0;
}
.saklar-switch:checked + label:after{
  left: 34px;
  transition: all 0.3s ease-in;
}
.saklar-switch:checked +label:before{
  background: #8dc74a;
  transition: all 0.3s ease-in;
}
.media.mid-v .media-body{
  vertical-align: middle;
}
td > .media{
  width: 180px;
}
.td-pesan{
  max-width: 680px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* table */
.table{
  margin-bottom: 0;
}
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td{
  padding: 24px 15px 18px;
  font-weight: 700;
}
.table>tbody>tr.pesan-read>td{
  font-weight: 500;
  color: #4a4a4a;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th{
  padding: 7px 15px 7px;
  background-color: #e7ebf4;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-color: #ececec;
}
.table>thead>tr>th:first-child{
  border-top-left-radius: 5px;
}
.table>thead>tr>th:last-child{
  border-top-right-radius: 5px;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after{
  bottom: 27px;
  right: 30px;
  width: 10px;
  height: 12px;
  opacity: 1;
  position: unset;
  display: inline-block;
  margin-left: 8px;
}
table.dataTable.dt-hidesorting thead .sorting:after,
table.dataTable.dt-hidesorting thead .sorting_asc:after,
table.dataTable.dt-hidesorting thead .sorting_desc:after,
table.dataTable.dt-hidesorting thead .sorting_asc_disabled:after,
table.dataTable.dt-hidesorting thead .sorting_desc_disabled:after{
  display: none;
}
table.dataTable thead th.sorting:after {
  content: "";
  background: url('../images/arrow-option-black.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
table.dataTable thead th.sorting_asc:after {
  content: "";
  background: url('../images/arrow-down-black.png');
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 8px auto;
}
table.dataTable thead th.sorting_desc:after {
  content: "";
  background: url('../images/arrow-up-black.png');
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 8px auto;
}
/* button */
.btn{
  height: 29px;
  padding: 3px 15px;
  border-radius: 14.5px;
  font-weight: bold;
}
.btn.btn-normal{
  height: 40px;
  border-radius: 4px;
  padding: 8px 12px;
  min-width: 90px;
}
.btn.btn-ikon{
  height: 40px;
  border-radius: 4px;
  padding: 8px 12px;
  min-width: auto;
}
.btn-default{
  color: #878787;
  background-color: #e7ebf4;
}
.btn-success{
  background-color: #8dc74a;
}
.btn-custom{
  height: 29px;
  padding: 6.5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 14.5px;
}
.btn-pesan-label{
  height: 29px;
  padding: 6.5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 10px;
  color: #000;
}
.btn-status-green{
  color: #2a9650;
  background-color: rgba(42, 150, 80, 0.1);
}
.btn-status-red{
  color: #db5959;
  background-color: rgba(219, 89, 89, 0.1);
}
.btn-plonk-green{
  color: #8dc74a;
  background-color: #fff;
  border: 1px solid #8dc74a;
}
.btn-plonk-blue{
  color: #123899;
  background-color: #fff;
  border: 1px solid #153b9a;
}
.btn-plonk-red{
  color: #db5959;
  background-color: #fff;
  border: 1px solid #d75a56;
}
.btn-status-green.active,
.btn-status-green:hover,
.btn-status-green:focus{
  color: #2a9650;
  background-color: rgba(42, 150, 80, 0.1);
}
.btn-status-red.active,
.btn-status-red:hover,
.btn-status-red:focus{
  color: #db5959;
  background-color: rgba(219, 89, 89, 0.1);
}
.btn-plonk-green.active,
.btn-plonk-green:hover,
.btn-plonk-green:focus{
  color: #8dc74a;
  background-color: #efefef;
  border: 1px solid #8dc74a;
}
.btn-plonk-blue.active,
.btn-plonk-blue:hover,
.btn-plonk-blue:focus{
  color: #123899;
  background-color: #efefef;
  border: 1px solid #153b9a;
}
.btn-plonk-red.active,
.btn-plonk-red:hover,
.btn-plonk-red:focus{
  color: #db5959;
  background-color: #efefef;
  border: 1px solid #d75a56;
}
.dt-category .btn{
  background-color: #fff;
  border-color: #c5c5c5;
  color: #000;
  font-size: 12px;
  padding-top: 10px;
}
.dt-category .btn.active{
  color: #fff;
  background-color: #153b9a;
  border-color: #153b9a;

}
.dt-category .btn:hover,
.dt-category .btn:focus{

}
/* pagination */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
  background-color: #E7EBF4;
  color: #000;
  border-color: #cacaca;
}
.pagination>li>a,
.pagination>li>span{
  color: #122C70;
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover{
  border-color: #ececec;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover{
  color: #000;;
}
/* modal */
.modal-content{

}
.modal-header{
  border-bottom: none;
  padding: 30px 30px 15px;
}
.modal-body{
  padding: 15px 30px;
}
.modal-footer{
  border-color: #ececec;
  padding: 30px 0;
  margin: 0 30px;
}
.modal-title{
  font-size: 24px;

}
.modal-subtitle{
  margin: 0;
  color: #878787;
}

/* responsive */
@media (min-width: 768px){
  /* .navbar-header .navbar-brand{
  width: 25%;
  } */
}
@media (min-width: 1200px){
  /* .navbar-header .navbar-brand{
  width: 16.66666667%;
  } */
}
@media (max-width: 767px){
  .navbar-custom{
    height: auto;
  }
  .navbar-toggle{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  body{
    padding-top: 120px;
  }
  .user-name{
    max-width: 95px;
    height: 20px;
    overflow: hidden;
    margin-bottom: -7px;
  }
  .main-container.mr-0{
    margin-right: 20px;
  }
  .main-rightbar{
    margin: 0 20px;
  }

}
@media (max-width:991px){
  /* .panel-plain .panel-heading{
  margin-bottom: 0;
  } */
  .panel-plain .panel-heading .row > div + div{
    margin-top: 10px;
  }
}
@media(max-width:793px){
  .main-rightbar .panel-separated-heading{
    height: auto;
  }
}
